{% extends 'layout.twig' %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h2>My Forms</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead><tr><th>Id</th><th>Name</th><th>Creation Date</th></tr></thead>
      <tbody>
        {% for form in forms %}
          <tr>
            <th scope="row"><a href="/editForm/{{ form.formId }}">{{ form.formId }}</a></th>
            <td>{{ form.formName }}</td>
            <td>{{ form.createdAt | date("m/d/Y") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a href="/newForm" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
    New Form
  </a>
{% endblock %}
