{% extends 'layout.twig' %}

{% block content %}
  <p>Welcome to {{title}}</p>

  <a href='/processes'>Processes setup</a></br>
  <a href='/form'>Form management</a></br>
  <a href='/list'>List management</a></br>
  <a href='/object'>Object management</a></br>
  <a href='/evidence'>Evidence management</a></br>
{% endblock %}
