{% extends 'layout.twig' %}

{% block content %}
  <h3>New Object</h3>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Issue when we save the object : {{ error }}
  </div>
  {% endif %}
  <form id="objectForm" action="/object/save" method="POST">
    <div class="form-group">
      <label for="objectLabel">Label</label>
      <input type="text" class="form-control" id="objectLabel" name="objectLabel" aria-describedby="nameHelp" placeholder="Enter object label">
      <small id="nameHelp" class="form-text text-muted">Define a label for your object.</small>
    </div>
    <div class="form-group">
      <label for="objectName">Name</label>
      <input type="text" class="form-control" id="objectName" name="objectName" aria-describedby="nameHelp" placeholder="Enter object name">
      <small id="nameHelp" class="form-text text-muted">Define a name for your object. Name could not include spaces.</small>
    </div>
    <div class="form-group">
      <label for="objectDescription">Description</label>
      <small id="valuesHelp" class="form-text text-muted">Description of the object.</small>
      <textarea class="form-control" aria-describedby="nameHelp" id="objectDescription" name="objectDescription" rows="6"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
